*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #747173;
}
.container{
    background-color:#747173;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -90%);
    top: 50%;
    left: 50%;
    padding: 30px 0;
    padding-bottom: 30px;
    border-radius: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0.338);
}
.display{
    position: relative;
    width: 92%;
    background: #fff;
    left: 4%;
    font-family: 'Roboto mono', monospace;
    color: #000000;
    font-size: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px;
    box-shadow: 0 0 20px rgba(61, 55, 69, 0.25);
}
.buttons{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}
.buttons button{
    width: 100px;
    height: 60px;
    background-color: black;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    border-radius: 0px;
    cursor: pointer;
    outline: none;
}
.buttons button:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.laps{

    position: absolute;
    width: 30%;
    left: 35%;
    top: 60%;
    /* background: #fff; */
    font-family: 'Roboto mono', monospace;
    color: #000000;
    font-size: 30px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    scroll-behavior: smooth;
    position: fixed;
}


